[submodule "frontend"]
	path = frontend
	url = https://github.com/Yasmina-Maddah/nestling-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/Yasmina-Maddah/nestling-backend.git
